<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<!--
<h3>Hi {{currentUser}}  ~Room {{currentRoom}}</h3>
<div class="col-md-9">
	TODO - display chat
</div>
<div class="col-md-3">
	<h4>Users in this room</h4>
	<button type="button" class="btn btn-warning" ng-click="leaveRoom()">Leave Room</button>
	<div class="well">
		<ul>
			<li ng-repeat="user in currentUsers">{{user}}</li>
		</ul>
	</div>
</div>
-->

<div class="container">
	<div class="row ">
		<h3 class="text-center">Hi {{currentUser}}  ~Room {{currentRoom}} </h3>
		<br/><br/>
    	<div class="col-md-8">
    		<div class="panel panel-info">
            	<div class="panel-heading">
            		RECENT CHAT HISTORY
            	</div>
            	<div class="panel-body">
            		<ul class="media-list">
                     	<li class="media" ng-repeat="message in currentMessages">
							<div class="media-body">
								<div class="media">
									<a class="pull-left" href="#">
										<span class="glyphicon glyphicon-envelope"></span>
									</a>
									<div class="media-body" >
										{{message}}
										<br/>
										<small class="text-muted">TODO more info</small>
										<hr/>
									</div>
								</div>
							</div>
						</li>
            		</ul>
            	</div>
				<div class="panel-footer">
                	<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter Message" />
						<span class="input-group-btn">
						<button class="btn btn-success" type="button">SEND</button>
						</span>
					</div>
				</div>
            </div>
    	</div>




    	<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
               	ONLINE USERS
				</div>
			</div>
			<div class="panel-body">

			</div>
				<ul class="media-list">
					<li class="media" ng-repeat="user in currentUsers">
						<div class="media-body">
							<div class="media">
								<a class="pull-left" href="#">
									<span class="glyphicon glyphicon-user"></span>
								</a>
								<div class="media-body" >
									<h5>{{user}}</h5>
									<small class="text-muted">TODO more info</small>
								</div>
							</div>
						</div>
					</li>
				</ul>
		</div>
	</div>
</div>























