<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
<div class="alert alert-success" ng-cloak ng-show="successMessage != ''">
	{{successMessage}}
</div>

<div class="container">
	<div class="row ">
		<h3 class="text-center">Hi {{currentUser}}  Room {{currentRoom}} </h3>
		<button type="button" class="btn btn-warning" ng-click="leaveRoom()">Leave Room</button>
		<br/><br/>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					RECENT CHAT HISTORY
				</div>
				<div class="panel-body">
					<ul class="media-list">
						<li class="media" ng-repeat="message in currentMessages">
							<div class="media-body">
								<div class="media">
									<a class="pull-left" href="#">
										<span class="glyphicon glyphicon-envelope"></span>
									</a>
									<div class="media-body" >
										{{message.message}}
										<br/>
										<small class="text-muted"> {{message.nick}} | {{message.timestamp | date:'medium'}} </small>
										<hr/>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="currentUserMessage" ng-keypress="getEnter($event)"  placeholder="Enter Message" autofocus/>
						<span class="input-group-btn">
						<button class="btn btn-success" type="button" ng-click="submitMessage()">SEND</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					ONLINE USERS
				</div>
			</div>
			<div class="panel-body">
			</div>
			<ul class="media-list">
				<li class="media" ng-repeat="user in currentUsers">
					<div class="media-body">
						<div class="media">
							<a class="pull-left" href="#">
								<span class="glyphicon glyphicon-user"></span>
							</a>
							<div class="media-body" >
								<h5>{{user}} <span style="color:green" ng-if="opArray[user] !== undefined"> OP </span></h5>
								<div class="btn-group" role="group" ng-show="isOp">
									<button type="button" class="btn btn-xs btn-success " type="button" ng-click="opUser(user)">Op</button>
									<button class="btn btn-xs btn-danger " type="button" ng-click="deOpUser(user)">Deop</button>
									<button class="btn btn-xs btn-danger " type="button" ng-click="kickUser(user)">kick</button>
									<button class="btn btn-xs btn-warning " type="button" ng-click="banUser(user)">Ban</button>
								</div>
								
								<small class="text-muted">TODO more info</small>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="panel panel-primary">
				<div class="panel-heading">
					BANNED USERS
				</div>
			</div>
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>